{% extends 'base.html.twig' %}

{% block title %}Couettes et cafés{% endblock %}

{% block main %}
    <h1>Liste des couettes et cafés</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Annonce</th>
            <th>Région</th>
            <th>Vendeur</th>
            <th>Accès</th>
        </tr>
        </thead>
        <tbody>

        {% for room in rooms %}
            <tr>
                <td>{{ room.summary }}</td>
                <td>
                    {% for region in room.regions %}
                        <a href="{{ path('room_filtered', {'id': region.id}) }}">
                            {{ region }}
                        </a>
                    {% endfor %}
                </td>
                <td>{{ room.owner }}</td>
                <td>
                    <a href="{{ path('room_ad', {'id': room.id}) }}">
                        voir
                    </a>
                </td>
            </tr>
        {% endfor %} {# todos #}

        </tbody>
    </table>

{% endblock %} {# body #}
