{% extends 'base.html.twig' %}

{% block title %}Couettes et cafés - Annonce {% endblock %}

{% block main %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <img src="{{ vich_uploader_asset(room, 'adImageFile') }}" alt="..."/>
                <div class="col-md-6">
                    <div class="small mb-1">
                        <a href="{{ path('room_edit', {'id': room.id}) }}">Modifier</a>
                    </div>
                    <h1 class="display-5 fw-bolder">{{ room.summary }}</h1>
                    <div class="fs-5 mb-5">
                        <span>{{ room.price }}€</span>
                    </div>

                    <table class="table" aria-orientation="horizontal" >
                        <thead>
                            <tr>
                                <th>Vendeur</th>
                                <td>{{ room.owner }}</td>
                            </tr>
                            <tr>
                                <th>Prix</th>
                                <td>{{ room.price }}</td>
                            </tr>
                            <tr>
                                <th>Capacité</th>
                                <td>{{ room.capacity }}</td>
                            </tr>
                            <tr>
                                <th>Superficie</th>
                                <td>{{ room.superficy }}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ room.description }}</td>
                            </tr>
                        </thead>
                    </table>

                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button" onclick="location.href='{{path('room_shop', {'id': room.id})}}';">
                            <i class="bi-cart-fill me-1"></i>
                            {% set shop = app.session.get('shop') %}
                            {% if shop is not null %}
                                {% if room.id in shop %}
                                    Retirer du panier
                                {% else %}
                                    Ajouter au panier
                                {% endif %}
                            {% else %}
                                Ajouter au panier
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Couettes et cafés de la même région</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for related in relatedRooms %}

                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img src="{{ vich_uploader_asset(related, 'previewImageFile') }}" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ related.summary }}</h5>
                                <!-- Product price-->
                                {{ related.price }}€
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('room_ad', {'id': related.id}) }}">
                                Visualiser
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}